@(user: String)(content: Html)(implicit req: RequestHeader)

@main {
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <a class="brand" href="@controllers.routes.Mergical.index">MergiCal</a>
      <span class="navbar-text pull-right"><a href="@controllers.routes.Mergical.signOut">Sign out</a> (@user)</span>
    </div>
  </div>

  <div class="container"></div>

  @helper.javascriptRouter("Routes")(
    routes.javascript.Mergical.addFeed,
    routes.javascript.Mergical.removeFeed,
    routes.javascript.Mergical.addGenerator,
    routes.javascript.Mergical.removeGenerator,
    routes.javascript.Mergical.generator,
    routes.javascript.Mergical.addGeneratorForm,
    routes.javascript.Mergical.dashboard
  )
  @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/factory").url)
  @content
}