@main {
  <div class="container">
    <h1>MergiCal</h1>

    <p class="lead">MergiCal <strong>merges</strong> your <a href="http://en.wikipedia.org/wiki/ICalendar">iCalendar</a> feeds so that your relations know when you are busy.</p>

    <ul class="unstyled">
        <li><i class="icon-ok"></i> Merge your work, friends, sports, <em>etc.</em> calendars into a single event feed.</li>
        <li><i class="icon-ok"></i> Generate customized feeds containing only a subset of your calendars.</li>
        <li><i class="icon-ok"></i> Set the visibility of each calendar to show the events full details or only your availability.</li>
    </ul>

    <p style="text-align: center"><img src="@routes.Assets.at("img/mergical.png")" alt="MergiCal"></p>

    <p class="lead"><strong>Magical?</strong> No. Just MergiCal. <a
        href="@routes.Mergical.dashboard()">Sign in</a> with your Google account.</p>
  </div>
}